---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer/Footer";
import Header from '../../components/Header/Header';
import '../../styles/index.scss';
import { getNowDateWithString } from "../../utils/date";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<html>
  <head>
    <title>{entry.data.title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  </head>
  <body>
    <main>
      <Header></Header>
      <div class="content">
        <div class="date">{getNowDateWithString(entry.data.createDate)}</div>
        <h1>{entry.data.title}</h1>
        <div class="post">
          <Content />
        </div>
      </div>
      <Footer></Footer>
    </main>
  </body>
</html>