---
import { getCollection } from "astro:content";
import Footer from "../../components/Footer/Footer";
import Header from '../../components/Header/Header';
import '../../styles/index.scss';
import '../../styles/slug.scss';
import { getNowDateWithString } from "../../utils/date";

export async function getStaticPaths() {
  const blogEntries = await(await getCollection("blog")).filter((entry) => !entry.data.draft);
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<html lang="ja">
  <head>
    <title>{entry.data.title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content={entry.body.substr(0, 120)} />
  </head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBD90YGZ4N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZBD90YGZ4N');
    </script>
  <body>
    <main>
      <Header></Header>
      <div class="content">
        <div class="date">{getNowDateWithString(entry.data.createDate)}</div>
        <h1>{entry.data.title}</h1>
        <div class="post">
          <Content />
        </div>
      </div>
      <Footer></Footer>
    </main>
  </body>
</html>