@import "/src/components/app.scss";

code {
    font-size: 1rem;
}

:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
	font-family: system-ui, sans-serif;
}
code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
.content {
	padding: 2rem 0;
	margin: 0 auto;
	max-width: 70rem;
	width: 94vw;
	.post {
		overflow-wrap: normal;
		overflow: hidden;
	}
}
a {
	color: $white;
	text-decoration: none;
}
img {
	width: 100%;
}