@import "../variables";

.card {
    box-sizing: border-box;
    background-color: $black;
    border: 1px solid $white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    .date {
    }
    .title {
        font-size: large;
    }
}
a {
    color: $white;
    text-decoration: none;
}