---
import Header from "../components/Header/Header";
import "../styles/index.scss";
import Footer from "../components/Footer/Footer";
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="技術本駆動系WEBエンジニアの備忘録 気になっている技術をキャッチアップするために記事にしたりしています。あくまで個人的な感想を含んだ備忘録です。">
    <title>Activity</title>
  </head>
      <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBD90YGZ4N"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZBD90YGZ4N');
        </script>
  <body>
      <main>
        <Header></Header>
        <div class="content">
            <h1>活動履歴</h1>
            <div>
                <div>
                    <h2>2019年</h2>
                    <div>
                        組み込みエンジニアとしてエンジニアのキャリアをスタート<br>
                        使用技術:<br>
                        C,Python,VBA<br>
                    </div>
                </div>
                <div>
                    <h2>株式会社スマレジ - CTO室所属 2022年 ~ </h2>
                    <div>
                        現在、株式会社スマレジのCTO室ににてバックエンド、フロントエンドの開発をリードしています。<br>
                        使用技術:<br>
                        PHP,LaravelとVue.js、React<br>
                        <br>
                        業務内容:<br>
                        システム全体の要件定義、設計から開発、テスト、運用までを一貫して担当し、技術的な課題解消や新機能の設計・実装を行っています。主な成果として以下のプロジェクトに取り組みました。<br>
                        - Laravel 11へのアップデート<br>
                        - PHP8系へのバージョンアップ<br>
                        - フロントエンドのVue2からVue3への移行、技術的負債の解消<br>
                    </div>
                    <h2>
                        その他の活動
                    </h2>
                    <div>
                        個人事業主として、企業や個人向けに柔軟な技術支援や機能開発を提供しています。<br>
                        バックエンド・フロントエンドを問わず、幅広い技術スタックに対応可能で、システムの設計やコードレビュー、技術コンサルティング、開発プロジェクトのリードなど、ニーズに応じた最適なソリューションを提案しています。<br>
                        <br>
                        具体的には、以下の技術に精通しています。<br>
                        - LaravelやRailsなどのバックエンドフレームワークを用いた効率的なAPI設計・開発<br>
                        - Vue.js, React, Next.jsなどのモダンなフロントエンド技術によるUI/UXの改善<br>
                        - エンタープライズシステムにおける技術的負債の解消や新技術の導入支援<br>
                        - ユニットテスト導入や、CI/CD環境の構築による開発フローの自動化<br>
                        - ドメイン駆動設計やクリーンアーキテクチャに基づいたシステム設計<br>
                        <br>
                        個人事業主としての案件に関しては、柔軟な契約形態やプロジェクト規模に応じた対応が可能です。お仕事のご依頼・ご相談は、お気軽に<a href="mailto:taisei.miyaji4602@gmail.com">こちら</a>までご連絡ください。あなたのプロジェクトを成功に導くための技術支援を提供します。
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
      </main>
  </body>
</html>