---
import Header from '../components/Header/Header';
import '../styles/index.scss';
import Footer from '../components/Footer/Footer';
import CardList from '../components/CardList/CardList';
import { getCollection } from "astro:content";
import { postOrderByCreatedAt } from '../utils/sort';

const blogEntries = await(await getCollection("blog")).filter((entry) => !entry.data.draft);
const posts = postOrderByCreatedAt(blogEntries);

---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="技術本駆動系WEBエンジニアの備忘録 気になっている技術をキャッチアップするために記事にしたりしています。あくまで個人的な感想を含んだ備忘録です。">
    <title>Lyricrime.com</title>
  </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBD90YGZ4N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZBD90YGZ4N');
    </script>
  <body>
      <main>
        <Header></Header>
        <div class="content">
        <CardList {posts}></CardList>
        </div>
        <Footer></Footer>
      </main>
  </body>
</html>