---
import Header from '../components/Header/Header';
import '../styles/index.scss';
import Footer from '../components/Footer/Footer';
import CardList from '../components/CardList/CardList';
import { getCollection } from "astro:content";
import { postOrderByCreatedAt } from '../utils/sort';

const blogEntries = await(await getCollection("blog")).filter((entry) => !entry.data.draft);
const posts = postOrderByCreatedAt(blogEntries);

---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>Lyricrime.com</title>
  </head>
  <body>
      <main>
        <Header></Header>
        <div class="content">
        <CardList {posts}></CardList>
        </div>
        <Footer></Footer>
      </main>
  </body>
</html>