---
import Header from "../components/Header/Header";
import "../styles/index.scss";
import Footer from "../components/Footer/Footer";
import GitHubCard from "../components/SNS/GitHubCard";
import XCard from "../components/SNS/XCard";
import ZennCard from "../components/SNS/ZennCard";
import { getCollection } from "astro:content";
import { postOrderByCreatedAt } from "../utils/sort";

const blogEntries = await (await getCollection("blog")).filter(
	(entry) => !entry.data.draft,
);
const posts = postOrderByCreatedAt(blogEntries);

declare global {
    interface Window {
        dataLayer: unknown[];
        gtag: (...args: unknown[]) => void;
    }
}
---
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="description"
          content="技術本駆動系WEBエンジニアの備忘録 気になっている技術をキャッチアップするために記事にしたりしています。あくまで個人的な感想を含んだ備忘録です。">
    <title>このブログの作者について</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBD90YGZ4N"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag(...args: unknown[]) {
        window.dataLayer.push(args);
    }

    gtag('js', new Date());

    gtag('config', 'G-ZBD90YGZ4N');
</script>
<body>
<main>
    <Header></Header>
    <div class="content">
        <h1>このブログの作者について</h1>
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
            <img src="/images/icon-bg.png" alt="プロフィールアイコン" width="160" height="160" style="border-radius: 50%; !important; max-width: 160px !important;">
        </div>
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
            <h2>Taisei Miyaji</h2>
        </div>
        <p>
            <h3>所属 <a href="https://corp.smaregi.jp/">株式会社スマレジ</a> AI開発基盤チーム 主任</h3>
            エンジニアとしてのキャリアは組み込み系から始まり、現在はWEBエンジニアとして開発業務のリードをしています。<br>
            <br>
            このブログでは業務や趣味の開発を通して得た知見をメモ代わりにまとめています。
        </p>
        <h2>Offerings</h2>

        <ul>
            <li><strong>テスト支援</strong><br>
                開発プロセスの品質向上のために、ユニットテストの導入やテスト自動化の支援を行います。CI/CD環境の構築やテストフレームワークの選定・導入も対応可能です。
            </li>
            <li><strong>受託開発</strong><br>
               生成AIを活用した開発体制の構築、およびPoCの作成が可能です。お気軽にご相談ください
            </li>
            <li><strong>AIで作成したプロダクトへのコンサルティング</strong><br>
                技術選定やアーキテクチャ設計、開発プロセスの改善など、さまざまな観点から、AIで作成した成果物に対する専門家のレビュー、修正対応を行います。
        </ul>
        <h2>ご依頼について</h2>
        <p>
            それぞれ初回相談無料で承っております。相談や助言は1件数万円、各種対応は1件10万円 ~ 程度で想定していますが、内容や規模によりますのでお気軽にご相談ください。<br>
            まずは相談内容が固まっていなくても大丈夫です。以下のフォームからお気軽にご連絡ください。<br>
            <a href="https://forms.gle/omP7TPeSf2VacxSGA" target="_blank" rel="noopener noreferrer">相談フォームはこちら</a>
            フォームが使いづらい場合は、メールでもご連絡いただけます。
            <a href="mailto:taisei.miyaji4602@gmail.com">taisei.miyaji4602@gmail.com</a>
        </p>
        <div class="card-container" style="margin-top: 2rem; margin-bottom: 2rem;">
            <GitHubCard url={'https://github.com/taiseimiyaji'} />
            <XCard url={'https://x.com/lyricrime'} />
            <ZennCard url={'https://zenn.dev/miyaji4602/'} />
        </div>
    </div>
    <Footer></Footer>
</main>
</body>
</html>
