---
import Header from "../../components/Header/Header";
import Footer from "../../components/Footer/Footer";
import { getNoteEntries } from "../../utils/note";
import "../../styles/index.scss";

const notes = getNoteEntries();
---
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<meta name="description" content="note形式の記事一覧です。" />
		<title>Note | Lyricrime.com</title>
	</head>
	<body>
		<main>
			<Header />
			<div class="content">
				<div class="card-list">
					{notes.map((note) => (
						<a href={note.href}>
							<div class="card">
								{note.date && <div class="date">{note.date.replaceAll("-", "/")}</div>}
								<div class="title">{note.title}</div>
							</div>
						</a>
					))}
				</div>
			</div>
			<Footer />
		</main>
	</body>
</html>
